.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainLayout {
  background-color: #eaeff8;
  min-height: 100vh;
}

.logo {
  color: orange;
  font-size: 24px;
  display: inline;
}

.content {
  padding: 0px;
}

.col {
  background: #0092ff;
  padding: 8px;
  margin: 15px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, auto);
  width: 85%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px;
  min-height: 25px;
  font-weight: bold;
  font-size: 23px;

  border: 4px rgb(235, 231, 231) solid;
  border-radius: 50%;

  cursor: pointer;
}

.hint {
  color: #fff;
  background: rgb(245, 153, 73);
}

.hint:hover {
  background: rgb(240, 182, 131);
}

.tile-checked {
  color: #fff;
  background: rgb(93, 140, 93);
}

.won {
  background: rgb(218, 196, 247);
}

.ant-card-body {
  padding-bottom: 0px;
}

.tile-disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.ant-card-body {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}
